<!-- <app-change-bg></app-change-bg> -->

<div class="dashboard">
  <!-- <div class="container position-absolute top-0 start-0 end-0 bottom-0"> -->
  <div class="container ">
    <div class="content d-flex flex-column min-vh-100">
      <header class="top-section p-4 text-white text-center ">
        <h1>{{dateNow|date:'shortTime'}}</h1>
        <h2>{{dateNow | date:'fullDate'}}</h2>
      </header>

      <section class="middle-section p-md-3 flex-grow-1 text-white ">
        <p-scrollPanel >
          <router-outlet></router-outlet>
        </p-scrollPanel>
      </section>

      <footer>
        <app-tabs></app-tabs>
      </footer>

    </div>
  </div>
</div>

<app-solid-color></app-solid-color>
<app-gradient-color></app-gradient-color>