@import './variables.scss';

.dashboard {
    background: {
        image: url("https://images.unsplash.com/photo-1708555205842-f38972eed725?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcxMDUzMDgwNw&ixlib=rb-4.0.3&q=80&w=1920");
        position: center;
        repeat: no-repeat;
        size: cover;
    }

    .top-section {
        text-shadow: 4px 4px 10px rgba($color: $color-black, $alpha: .4);

        h1 {
            font: {
                weight: bold;
                size: 90px;
            }

            @media screen and (max-width: 768px) {
                font-size: 70px;
            }

            @media screen and (max-width: 567px) {
                font-size: 55px;
            }
        }

        h2 {
            font-size: 26px;

            @media screen and (max-width: 768px) {
                font-size: 20px;
            }

            @media screen and (max-width: 567px) {
                font-size: 16px;
            }
        }
    }
}

:host ::ng-deep .p-button {
    padding: 6px 12px;
    border-radius: 5px;

    &[severity="success"] {
        background-color: $btn-success;
    }

    .p-button-label {
        font-weight: 400;
    }
}

:host ::ng-deep .p-scrollpanel.p-component {
    width: 100%;
    height: 350px;
    padding: 20px 10px;

    @media screen and (max-width: 568px) {
        // height: 300px;
        padding: 0 10px 20px;
    }
}