@import '../../variables.scss';

.tabs {
    .tabs-content {
        background: rgba($color: $color-white, $alpha: 0.25);
        backdrop-filter: blur(1px);
        @include flex;

        .tab-tile {
            @include flex;
            width: 50px;
            height: 50px;
            opacity: .9;
            border-radius: 10px;
            position: relative;
            bottom: 0;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:first-of-type {
                background: linear-gradient(45deg, $gradient-1, $gradient-2);
            }

            &:nth-of-type(2) {
                background: linear-gradient(45deg, $gradient-3, $gradient-4);
            }

            &:last-of-type {
                background: linear-gradient(45deg, $gradient-5, $gradient-6);
            }

            &:hover {
                transform: scale(1.05);
                opacity: 1;
            }

            &::after {
                content: "";
                opacity: 0;
                transition: opacity .1s .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }
    }
}

.active-tab {
    border-radius: 50% !important;
    bottom: 23px !important;
    transform: scale(1) !important;
    opacity: 1 !important;

    &::after {
        content: "";
        width: 60%;
        height: 2px;
        position: absolute;
        bottom: -32px;
        left: 51%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        opacity: 1 !important;
        background-color: $color-white;
    }
}