@import '../../variables.scss';

.bookmark {
    position: relative;

    .edit-bookmark {
        position: absolute;
        top: -8px;
        right: -10px;
        z-index: 999;
        color: $color-black;
        background-color: rgba($color: $color-white, $alpha: 0.8);
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &:hover .edit-bookmark {
        opacity: 1;
    }

    .bookmark-item {
        width: 100px;
        height: 100px;
        background-color: rgba($color: $color-black, $alpha: 0.7);
        transition: all 0.2s;

        &:hover {
            background-color: rgba($color: $color-black, $alpha: 0.8);
        }

        &:active {
            background-color: rgba($color: $color-black, $alpha: 0.9);
            box-shadow: 0 0 0px 2px rgba($color: $color-white, $alpha: 0.8);
            transition-duration: 0s;
        }

        .favicon {
            width: 35%
        }

        .noFavicon {
            @include flex;
            font-size: 20px;
            font-weight: 600;
            // background-color: rgb(104, 50, 154);
            background-color: #576067;
            width: 40px;
            height: 40px;
            margin: auto;
            border-radius: 50%;
        }

        .bookmark-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}