<p-toast [breakpoints]="{'567px': {width: '100%', right: '0px'}}"></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-dialog header="Update Note" [visible]="true" [modal]="true" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [closable]="false">
    <ng-template pTemplate="header">
        <h4 class="font-bold">Update Note</h4>
    </ng-template>

    <ng-template pTemplate="content">
        <form [formGroup]="updateDetails" (ngSubmit)="updateNote(updateDetails)"
            (keyup)="$event.code === 'Escape' ? _Router.navigate(['/notes']) : null">
            <div class="card mb-0 mt-3">
                <input [autofocus]="true" type="text" id="noteTitle" pInputText formControlName="noteTitle"
                    placeholder="Note Title" />
            </div>
            <!-- <p *ngIf="updateDetails.get('noteTitle')?.invalid && updateDetails.get('noteTitle')?.touched"
                class="text-danger my-1">Input is required</p> -->
            <div class="card mt-3 mb-3">
                <textarea formControlName="noteContent" id="noteContent" placeholder="Content of the note" rows="5"
                    cols="30" pInputTextarea [autoResize]="false"></textarea>
            </div>
            <div class="buttons d-flex justify-content-end">
                <p-button label="Close" [raised]="true" severity="secondary" class="fw-light me-2"
                    (click)="_Router.navigate(['/notes'])"></p-button>
                <p-button type="Save" label="Submit" severity="success" [rounded]="true"
                    [disabled]="!updateDetails.valid"></p-button>
            </div>
        </form>
    </ng-template>
</p-dialog>