@import '../../variables.scss';
.todo-item {
    color: rgba($color: $color-white, $alpha: 0.9);
    background-color: rgba($color: $color-black, $alpha: 0.8);
    transition: all 0.3s;

    &:hover {
        color: $color-white;
        background-color: rgba($color: $color-black, $alpha: 0.9);

        .todo-actions i {
            opacity: 1;
        }
    }

    .form-check-input {
        width: 1.5em;
        height: 1.5em;
        transition: all 0.3s;

        &[type=checkbox] {
            background-color: transparent;
            border: 1px solid $color-white;
            box-shadow: none;
            border-radius: 1.25em;
        }

        &:checked[type=checkbox] {
            background-color: $checked-bg;
            border: none;
            --bs-form-check-bg-image: url("../../../assets/images/checkmark-svgrepo-com.svg");
        }
    }
}